
.App {
  text-align: center;
  font-size: 1.5em;
}
body{
  background-color: #343a40;
  color :#837a7a;
}
h3{
  color:rgb(117, 18, 18);
  font-size: 25px;
}
img{
  height: 100%;
  width: 100%;
}

/**header*/

/*color component*/
.styles-btn {
  border-radius: 50%;
  background-color: #1e7e3430;
  padding: 5px;
  }
  .fa-pencil-square-o:before{color:#008000}
.color-comp{
  border-radius: 50%;
  height: 47px;
  width: 17px;
  margin-left: 2px
}
.dropleft .dropdown-menu {
  background-color: #057629cf;
  padding: 9px;
}
.style-comp{
  display: contents;
}


/*navbar*/
.collapse.navbar-collapse.fluid-container{
  justify-content: space-between;
}

/*carousel*/
.carousel-item{
  height : 100%;
}

.carousel-img{
  width: 100%;
  height : 100%;
}
.carousel-inner.inner  {
  height: 450px;
}

.carousel-control-next.carousel-control-prev{z-index: 2;}
.carousel-indicators.carousel-layer{ 
  height: 450px;
  display: block;
  background: #0000004a;
  color:green;
  height: 100%;
  width: 100%;
  margin: 0px;
  z-index: 1;
}
.homeH2{
  display: block;
  height: 20%;
  margin: 1%;
}
.logo{
  height: 75%;
  width: 30%;
  box-sizing: initial;
  margin-bottom: 5%;
  padding: 0 35%;
}
.carousel-log-img {
  border-radius: 50%;
  opacity: .5;
}




/*Container*/

.container1{
  margin: 2px 0px;
  height: auto;
  background: white;
  padding : 40px 0px;
}

/*services comp*/
.service.container{max-width: 100%}
/*contact us*/
.textarea-contactUs.form-control{
  margin-bottom: 20px;
}


/*default*/
a{color:#777272;}

/*Components*/
/*client*/

.testimonials {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 50px 0px;
}
.testimonials-holder{
  transition: .5s ease;
  opacity: 0.3;
}
.testimonials-holder:hover{
  opacity: 0.9;
}
.testimonials img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid grey;
  }
/*ListItems*/
.ListItems , .LinksList{
  margin-bottom: 20px;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*footer**/
footer {
  margin-bottom: 0px;
}
.Footer.jumbotron{
  margin-bottom: 0px;
  background-color: #343a40;
 
}

.Footer-part1 h3 {
  color : green;
}

.nav-item.item-in-footer{
  padding-bottom : 5px;
}

.row.footer-row{margin-bottom :40px }

.Footer-part1.col li a:hover{
  padding-left : 20px;
  font-size : 1.2rem;
}

