
.App {
  text-align: center;
  font-family: fantasy;
  
}
body{
  background-color: #343a40;
  color :#837a7a;
}
h3{
  color:rgb(117, 18, 18)
}

/**header*/

/*color component*/
.color-comp{
  border-radius: 50%;
  height: 47px;
  width: 17px;
  margin-left: 2px
}

.dropleft .dropdown-menu {
  background-color: #057629cf;
  padding: 9px;
}
.style-comp{
  display: contents;
}

/*carousel-img*/
.Carousel{
  margin-top: 71px;
}
.carousel-item{
  height : 100%;
}

.carousel-img{
  width: 100%;
  height : 100%;
}
.carousel-inner.inner  {
 
  height: 450px;
}
.carousel-indicators.homeH2{
  background: rgba(0,0,0,0.2);
  color:green;
  margin-top:50px;
  margin-bottom: 50px
}
/*navbar*/
.sticky-top.sticky{
  position: sticky;
}


/*Container*/
/*contact us*/
.container1{
  padding: 40px 0px;
  margin-top: 70px;
  height: auto;
  background: #0c0c0c;
 
}
.textarea-contactUs.form-control{
  margin-bottom: 20px;
}
/*nav bar*/
nav div{
  margin-bottom : 0px;
}

/*footer**/
footer {

  margin-bottom: 0px;
}
.Footer.jumbotron{
  margin-bottom: 0px;
  background-color: #343a40;
 
}

.Footer-part1 h3 {
  color : green;
}

.nav-item.item-in-footer{
  padding-bottom : 5px;
}

.row.footer-row{margin-bottom :40px }

.Footer-part1.col li a:hover{
  padding-left : 20px;
  font-size : 1.2rem;
}

/*default*/
a{color:#777272;}

/*Components*/
/*ListItems*/
.ListItems , .LinksList{
  margin-bottom: 20px;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
