
/*
myProject     thierProject
home + log    === logo 
services  ==== product 
prodect + client = case studies 
join us ==  inside home 
contact us == let's talk
about us == about us 

*/
body {
  text-align: center;
  font-family: "proxima nova regular";
  font-size: 10px;
}

h1{
  font-size: 8.75em;
  font-weight: 500;
}
h2{
  font-size: 2.75em;
  font-weight: bolder;
}
h3,h4{

  font-size: 1.5em;
}

img{
  height: 100%;
  width: 100%;
}
.row{
  margin:auto 0px;
}

/**header*/

/*color component*/
.styles-btn {
  border-radius: 50%;
  background-color: #1e7e3430;
  padding: 5px;
  }
  .fa-pencil-square-o:before{color:#008000}
.color-comp{
  border-radius: 50%;
  height: 47px;
  width: 17px;
  margin-left: 2px
}
.dropleft .dropdown-menu {
  background-color: #057629cf;
  padding: 9px;
}

/**/
.style-comp{
  display: contents;
}
.dropdown.dropleft.float-right.colors-comp{
  margin-left: 20px;
} 


/*navbar*/
a.nav-link{
  font-family: proxima nova bold;
  font-weight: bold;
  color: black;
}

.collapse.navbar-collapse.fluid-container{
  justify-content: space-between;
}

/*carousel*/
.carousel-item{
  height : 100%;
}

.carousel-img{
  width: 100%;
  height : 100%;
}
.carousel-inner.inner  {
  height: 450px;
}

.carousel-control-next.carousel-control-prev{z-index: 2;}
.carousel-indicators.carousel-layer{ 
  height: 450px;
  display: block;
  background: #0000004a;
  color:green;
  height: 100%;
  width: 100%;
  margin: 0px;
  z-index: 1;
}
.homeH2{
  display: block;
  height: 20%;
  margin: 1%;
}
.logo{
  height: 75%;
  width: 30%;
  box-sizing: initial;
  margin-bottom: 5%;
  padding: 0 35%;
}
.carousel-log-img {
  border-radius: 50%;
  opacity: .7;
}




/*Container*/

.container1{
  margin: 2px 0px;
  height: auto;
  padding : 40px 0px;
}

/*services comp*/
.service.container{max-width: 100%}
/*contact us*/
.textarea-contactUs.form-control{
  margin-bottom: 20px;
}


/*default*/




/*Components*/
/*client*/

.testimonials {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 50px 0px;
}
.testimonials-holder{
  transition: .5s ease;
  opacity: 0.3;
}
.testimonials-holder:hover{
  opacity: 0.9;
}
.testimonials img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid grey;
  }

  /*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
.App-link {
  color: #6b7a7e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*footer**/
footer {
  margin-bottom: 0px;
}



/*order is important  // big to small*/
/*@media*/

/*>1680*/
@media screen and (max-width: 1680px){
  body {
      font-size: 13.4px;
  }
  }

/* >1366*/
@media screen and (max-width: 1366px){
body {
    font-size: 11.5px;
}
}

/* >1200*/
@media screen and (max-width: 1200px){
  body {
      font-size: 10px;
   }
  }
  /* >920 */
  @media screen and (max-width: 992px){
body {
    font-size: 11px;
}
  }